[instance$ID]
SERVER_HOSTNAME=127.0.$ID.1
SERVER_PORT=$PORT
SERVER_DIR=/usr/local/ophidia/.ophidia/data$ID
MAX_PACKET_LEN=4000000
CLIENT_TTL=300
OPENMP_THREADS=2
MEMORY_BUFFER=2048
CACHE_LINE_SIZE=64
CACHE_SIZE=262144
WORKING_DIR=/usr/local/ophidia

